server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://authentication:8081
          predicates:
            - Path=/api/auth/**,/api/role/**

        - id: stock-service
          uri: http://stock:8082
          predicates:
            - Path=/api/stock/**
